/* page.module.css */
.main {
  font-family: Arial, sans-serif;
}

.header {
  background-color: #5c5f5c;
  color: white;
  padding: 20px;
  text-align: center;
  margin-bottom: 150px;
}

.calculadora {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.numeros {
  margin-bottom: 15px;
}

.text {
  font-weight: bold;
}

.inputnum {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-primary {
  background-color: #343835;
  color: white;
}

.button-secondary {
  background-color: #ddd;
  color: #333;
}

.error {
  color: red;
  font-weight: bold;
}

.resultado {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #17ab2a;
}
